.header {
	height: 100%;
	margin: 2em;
}

.body {
	position: relative;
	display: block;
	margin: 1em;
	padding-top: 5em;
	width: 97% !important;
}

.body .btn {
	margin: 0.5em;
	width: 40%;
}

.search-field {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 90%;
	float: left;
}
