/* * {
	background: #000000;
} */

.Login {
	/* width: 100%;
  height: 100%; */
	margin-top: 10%;
	margin-bottom: 10%;
	/* color: #ffffff; */
}

.Login-interface {
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	background: #bfbfbf;
	/* background: #ffffff; */
	opacity: 70%;
	width: 50%;
	height: 35em;
}

.Login-item {
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
}

.form-control {
	padding-top: auto;
	padding-bottom: auto;
}

.form-row {
	width: 70% !important;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

.form-user-role {
	width: 70% !important;
}

.signup {
	margin-top: 2%;
}

div {
	-ms-overflow-style: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
	display: none !important;
}
