/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /* background: #373a47; */
  background: #bdc3c7;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  /* background: #bdc3c7; */
  background: #373a47;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  background: #bdc3c7;
  margin-left: 0;
  padding-left: 0;
  /* padding: 2.5em 1.5em 0; */
  text-align: left;
  font-size: 1.15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  color: #373a47;
  padding: 0.8em 1em 0 1em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 1em 2em;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* .NavBar {
	border-top: none;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin-top: 0em;
} */

.btn {
  display: inline-block;
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
  background: #bdc3c7;
  color: #373a47;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.menu-avatar.card {
  margin: 2em 0;
  text-align: center;
  background: #bdc3c7;
  border: none;
}

.opened:not(.bm-item) {
  display: inline-block;
}

.opened.bm-item {
  margin-left: 4em;
}

.closed {
  display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bm-menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.bm-menu {
  -ms-overflow-style: none;
}
