.Dashboard {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-y: hidden;
}

.content .card-sm-1 {
	display: inline-block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* width: 200px; */
	margin: 5em 2em;
}

.content .card-sm-2 {
	display: inline-block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* width: 200px; */
	margin: 5em 4em;
}

.content .card-md {
	display: block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* width: 200px; */
	margin: 0em auto;
}
